* {
  box-sizing: border-box;
}

body,
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  padding: 93px 165px;
}

.content__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 86px;
  color:#333333;
}

.main-info {
  height: 100vh;
  background-image: linear-gradient(
      rgba(198, 108, 73, 0.3),
      rgba(198, 108, 73, 0.3)
    ),
    url("./images/bg.png");
  background-position: center;
  background-size: cover;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 145px;
}
.logo {
  font-size: 18px;
  font-weight: bold;
}

.menu {
  display: flex;
}

.menu-item {
  padding: 0 28px;
}
.menu-item-bold {
  font-weight: bold;
}
.main-text {
  margin-bottom: 100px;
}

.main-text__headline {
  font-size: 64px;
  margin: 0;
  margin-bottom: 26px;
}

.main-text__caption {
  font-size: 24px;
  font-weight: normal;
}
.about__content {
  font-size: 18px;
  line-height: 30px;
  color: #333333;
}

.main-info__link {
  border-bottom: 1px solid white;
  font-size: 24px;
}
.skills {
  background: #fffaf2;
}

.skills__content {
  display: flex;
}

.skills__img {
  height: 340px;
  background: url("./images/skills.jpg") center / cover;
}

.content__left {
  max-width: 350px;
  min-width: 350px;
  margin-right: 125px;
}

.skills__chart {
  width: 100%;
}

.chart-item {
  margin-bottom: 10px;
}
.chart-item--title {
  margin-bottom: 65px;
}
.chart-item-row {
  display: flex;
}
.chart-item-row__title {
  font-weight: bold;
  min-width: 180px;
  margin-bottom: 10px;
  color: #333333; 
}

.bar {
  width: 100%;
  height: 24px;
  background: #f5d6ab;
  overflow: hidden;
}

.bar__progress {
  background: #c66c49;
  height: 100%;
  width: 65%;
}
.bar__progress--ux {
  width: 80%;
}

.bar__progress--ui {
  width: 75%;
}
.portfolio__content {
  display: flex;
}
.portfolio__info p {
  font-size: 18px;
  line-height: 30px;
  color: #333333;
  padding-top: 48px;
}
.portfolio__info h2 {
  font-size: 18px;
  color: #333333;
}

.portfolio__gallery {
  display: flex;
}

.gallery-row--right {
  margin-left: 30px;
}

.gallery-row__img {
  display: block;
  width: 100%;
  margin-bottom: 26px;
}
.footer {
  background: #FFFAF2;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 22px;
  color: #333333;
}
.footer__info li {
  margin-bottom: 15px;
}
@media (max-width: 1240px) {
    .content__left {
      min-width: 300px;
      margin-right: 60px;
    }
    .skills__img {
      height: 280px;
    }
    .chart-item-row__title {
      min-width: 140px;
    }
  }
  
  @media (max-width: 1080px) {
    .content {
      padding: 40px 65px;
    }
    .chart-item--title {
      margin-bottom: 36px;
    }
    .portfolio__content {
      flex-direction: column;
    }
  }
  
  @media (max-width: 800px) {
    .skills__content {
      flex-direction: column;
    }
    .content__left {
      width: 100%;
      min-width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }
    .skills__img {
      height: 420px;
    }
    .portfolio__gallery {
      flex-direction: column;
    }
    .gallery-row--right {
      margin: 0;
    }
  }
  
  @media (max-width: 700px) {
    .content {
      padding: 28px;
    }
    .content__title {
      margin-bottom: 32px;
    }
    .header {
      margin-bottom: 60px;
    }
    .menu {
      flex-direction: column;
    }
    .menu-item {
      padding: 6px 0;
    }
    .main-text {
      margin-bottom: 24px;
    }
    .main-text__headline {
      font-size: 48px;
    }
    .main-text__caption {
      font-size: 24px;
    }
    .main-info__link {
      font-size: 18px;
    }
    .skills__img {
      height: 260px;
    }
    .footer__info {
      flex-direction: column
    }
  }